<div id="about" class="about container">
  <h2>
    О компании
  </h2>

  <p>
    Задача организации, в особенности же консультация с широким активом в
    значительной степени обуславливает создание новых предложений. Не следует,
    однако забывать, что постоянное информационно-пропагандистское обеспечение
    нашей деятельности позволяет оценить значение позиций, занимаемых
    участниками в отношении поставленных задач. Таким образом постоянное
    информационно-пропагандистское обеспечение нашей деятельности способствует
    подготовки и реализации позиций, занимаемых участниками в отношении
    поставленных задач. Повседневная практика показывает, что дальнейшее
    развитие различных форм деятельности в значительной степени обуславливает
    создание модели развития. Повседневная практика показывает, что сложившаяся
    структура организации представляет собой интересный эксперимент проверки
    позиций, занимаемых участниками в отношении поставленных задач.
  </p>

  <div class="about-blocks">
    <div class="about-blocks--item">
      <div class="block-item--header">
        <img src="./images/icon-target.png" alt="Target">
        <h3>
          Профессионализм
        </h3>
      </div>
      <div class="block-item--body">
        <p>
          На рынке недвижимости с 2013 года! Опыт, накопленный за это время,
          даёт нам возможность компетентно работать в своей сфере на достаточно
          высоком профессиональном уровне с любыми видами объектов.
        </p>
      </div>
    </div>
    <div class="about-blocks--item">
      <div class="block-item--header">
        <img src="./images/icon-suitcase.png" alt="suitcase">
        <h3>
          Удобство
        </h3>
      </div>
      <div class="block-item--body">
        <p>
          Мы оказываем полный спектр риэлторских услуг по загородной, жилой,
          коммерческой недвижимости. Это продажа и покупка, поиск (подбор)
          объекта недвижимости, сопровождение сделок, консультации с опытными
          юристами, маркетологами и специалистами по недвижимости.
        </p>
      </div>
    </div>
    <div class="about-blocks--item">
      <div class="block-item--header">
        <img src="./images/icon-contract.png" alt="contract">
        <h3>
          Качество
        </h3>
      </div>
      <div class="block-item--body">
        <p>
          Качественные и высокопрофессиональные услуги за реальные деньги,
          юридическая грамотность в оформлении документов, гарантия чистоты
          любой сделки и конфиденциальность
        </p>
      </div>
    </div>
  </div>
</div>
