<div id="main" class="entry">
  <header class="entry-header container">
    <div class="entry-header--logo">
      <img src="./images/logo.gif" alt="Logo" />
      <p>
        Агентство недвижимости Санкт-Петербург
      </p>
    </div>
    <div class="entry-header--contacts">
      <a href="tel:8(812)969-25-20" class="contacts-phone"
        >8 (812) 969-25-20</a
      >
      <a href="mailto:kozlovauson@gmail.com" class="contacts-mail"
        >kozlovauson@gmail.com</a
      >
    </div>
  </header>

  <nav class="entry-nav container">
    <div class="entry-nav--mobile">
      <input id="nav-mobile" type="checkbox" />
      <label class="nav-mobile-btn" for="nav-mobile">
        <span></span>
      </label>
    </div>
    <ul class="entry-nav--list js_nav-scroll">
      <li>
        <a href="#main">
          Главная
        </a>
      </li>
      <li>
        <a href="#about">
          О компании
        </a>
      </li>
      <li>
        <a href="#">
          Услуги
        </a>
      </li>
      <li>
        <a href="#">
          статистика
        </a>
      </li>
      <li>
        <a href="#">
          Отзывы
        </a>
      </li>
      <li>
        <a href="#">
          Партнёры
        </a>
      </li>
      <li>
        <a href="#">
          Контакты
        </a>
      </li>
    </ul>
  </nav>

  <section class="entry-body--wrapper">
    <div class="entry-body container">
      <div class="entry-body--content">
        <h1>
          ПРОФЕССИОНАЛЬНО, БЫСТРО, ВЫГОДНО поможем вам продать или купить
          квартиру, комнату, <br />
          или загородный дом <br />
          в Санкт-Петербурге <br />
          и Ленинградской области.
        </h1>

        <p>
          Внимательная индивидуальная работа, конфиденциальность, юридическая
          поддержка, бесплатные консультации.
        </p>

        <a href="#" class="btn">
          написать письмо
        </a>
      </div>

      <div class="entry-body--aside">
        <div class="aside-content">
          <p>
            бесплатная консультация по телефону
          </p>

          <form class="js_aside-form">
            <div class="form-control">
              <label for="name"></label>
              <input id="name" name="name" type="text" placeholder="ФИО" />
            </div>
            <div class="form-control">
              <label for="phone"></label>
              <input
                id="phone"
                name="phone"
                type="tel"
                placeholder="Номер вашего телефона"
              />
            </div>
            <div class="form-control">
              <label for="email"></label>
              <input
                id="email"
                name="email"
                type="email"
                placeholder="E-mail"
              />
            </div>

            <button type="submit" class="btn js_entry-form--submit">
              ОТПРАВИТЬ
            </button>
          </form>
        </div>

        <span>
          Наши группы в социальных сетях:
        </span>

        <ul class="aside-links">
          <li>
            <a href="#">
              <img src="./images/icon-facebook.png" alt="FaceBook">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/icon-twitter.png" alt="twitter">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/icon-vk.png" alt="vk">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/icon-youtube.png" alt="youtube">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/icon-instagram.png" alt="instagram">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/icon-plus.png" alt="Image">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
